* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    flex-wrap: wrap;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 0%;
    border: 0%;
    height: 100vh;
    box-sizing: border-box;
    --width-container: 1500px;
}
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0%;
    border: 0%;
    height: 100vh;
    --width-container: 1500px;
}

:root {
    --background-dark: #0d0e0e;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1500px;
    padding: 0px;
    margin: 0%;
        border: 0%;
          margin: 0%;
    border: 0%;
    --width-container: 1200px;
    }


a {
    color: yellow;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

#header,
.main,
#nuestros-clientes,
#Contacto,
#foot {
    max-width: var(--width-container);
    
    
}
// styles.scss



// Otras importaciones y estilos que puedas tener...

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    flex-wrap: wrap;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 0%;
    border: 0%;
    height: 100vh;
    box-sizing: border-box;
    --width-container: 1500px;
}

