.footer_link_text {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    color: blue;
    font-size: 1.5rem;
}

.subtitle {
    font-size: 65px;
}

.text {
    font-size: 25px;
}

a {
    text-decoration: none;
    padding-right: 5px;
    font-size: large;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

#foot {
    flex-wrap: wrap;
    background-color: black;
    border-top: 2px solid black;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.foot-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

#foot p {
    font-size: 2rem;
    background-color: goldenrod;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}

iframe {
    width: 330px;
    height: 330px;
}

.redes {
    display: flex;
    gap: 3rem;
}

i {
    font-size: 5rem;
}

.caja-comentarios {
    flex-wrap: wrap;
}