// _footer.scss

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 4rem 0;
    width: 100%; // Ocupa el ancho completo
}

.footer-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: var(--width-container);
    margin-top: 2rem;
}

.footer-box p {
    font-size: 1.5rem;
    padding: 1rem;
}

.redes {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.caja-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

/* Agrega estilos a tus íconos si es necesario */
.caja-comentarios i {
    font-size: 3rem;
}

/* Resto de tus estilos ... */