/* _footer.scss */

#foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 4rem 0;
    width: 100%; // Ocupa el ancho completo
}

.footer-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: var(--width-container);
    margin-top: 2rem;
}

.footer-box p {
    font-size: 1.5rem;
    padding: 1rem;
}

.redes {
    display: flex;
    gap: 2rem;
    font-size: 2.8rem; // Aumenta el tamaño de los íconos en un 70%
    color: #ffff00; // Cambia el color a amarillo (#ffff00)

    i {
        font-size: 3.78rem; // Aumenta el tamaño de los íconos en un 70%
        color: #ffff00; // Cambia el color a amarillo (#ffff00)
    }
}

.caja-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}