

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: 3.5rem;
}

.header_logo {
    width: 450px;
    height: 140px;
}

.header_menu_link {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    font-size: x-large;
    list-style: none;
    margin-right: 5rem;
}

#header_link_text a {
    font-weight: bold;
}

.header_link_text a:hover {
    color: white;
}

.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .header_menu_link {
        display: none;
        /* Ocultar los enlaces regulares en pantallas pequeñas */
    }

    .hamburger-menu {
        display: block;
        /* Mostrar el icono de menú hamburguesa */
    }

    /* Estilos del menú hamburguesa */
    .hamburger-menu {
        font-size: 2rem;
    }
}

/* Resto de los estilos... */

